.sidebar {
    width: 30%;
    height: 100vh;
    background: khaki;
    position: fixed;
    left: -30%;
    top: 0;
    transition: all 0.7s ease-out;
}

.open {
    left: 0;
}
.sidebar-menus {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}